<div class="card w-25 my-3" [ngClass]="inputClass()">
   <div class="card-body">
      <div class="card-title">{{ course.id }}</div>

         <h6 *ngIf="checkNameIsAvailableOrNot(); else noName">Course Name : {{ course.name }}</h6>
         <ng-template #noName>
            <h6 >This Course has no label!</h6>
         </ng-template>

      <h6>Course Fees : {{ course.fees }}</h6>
      <h6>Course Discription : {{ course.discription }} index: {{ index + 1}}</h6>

         <div [ngSwitch]="course.category">
            <h6 class="text-primary text-center" *ngSwitchCase="'BASIC'">{{ course.category }} </h6>
            <h6 class="text-success text-center" *ngSwitchCase="'INTERMEDIATE'">{{ course.category }} </h6>
            <h6 class="text-danger text-center" *ngSwitchCase="'ADVANCE'">{{ course.category }} </h6>
            <h6 class="text-center" *ngSwitchDefault="">Unknown Course</h6>
         </div>

      <button (click)="checkCourse(); courseInfo()" class="btn btn-success">Check Course</button>
   </div>
</div>