<div class="card w-25 my-3" [ngClass]="inputClass()">
   <div class="card-body">
      <div class="card-title">{{ course.id }}</div>

         <h6 *ngIf="checkNameIsAvailableOrNot(); else noName">Course Name : {{ course.name }}</h6>
         <ng-template #noName>
            <h6 >This Course has no label!</h6>
         </ng-template>

      <h6>Course Fees : {{ course.fees }}</h6>
      <h6>Course Discription : {{ course.discription }} index: {{ index + 1}}</h6>

      @switch (course.category) {
         @case ('BASIC') {
            <h6 class="text-primary text-center">{{ course.category }} </h6>
         }
         @case ('INTERMEDIATE') {
            <h6 class="text-success text-center">{{ course.category }} </h6>
         }
         @case ('ADVANCE') {
            <h6 class="text-danger text-center">{{ course.category }} </h6>
         }
         @default {
            <h6>Unknown Course</h6>
         }
      }

      <button (click)="checkCourse(); courseInfo()" class="btn btn-success">Check Course</button>
   </div>
</div>