<app-fit-to-parent >   
   <app-loading-screen [show]="showLoading"></app-loading-screen>
   
   <div class="row">
      <div class="col-4">
         <app-page-title icon="bi-info-circle" title="Employee Details"></app-page-title>

         <app-card>
            <h4 class="card-title mb-3">Hein Htet Aung's Details</h4>
            @for (item of data().info | keyvalue: zeroCompare; track $index) {
               <app-card-info-row [label]="item.key" [data]="item.value"></app-card-info-row>
            }
            </app-card>
      </div>
      <section class="col overflow-scroll" style="height: 90vh;">
         <app-page-title icon="bi-info-circle" title="Employee History"></app-page-title>

         <table class="table table-bordered">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Status</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Changes</th>
                  <th>ChangeAt</th>
                  <th>ChangeBy</th>
               </tr>
            </thead>
            <tbody>
               @for (item of data().history; track $index) {
                  <tr>
                     <td>{{ item.name }}</td>
                     <td>{{ item.role }}</td>
                     <td>{{ item.status}}</td>
                     <td>{{ item.phone }}</td>
                     <td>{{ item.email }}</td>
                     <td>{{ item.changes }}</td>
                     <td>{{ item.changeAt | date: 'yyyy/MM/dd' }}</td>
                     <td>{{ item.changeBy }}</td>
                  </tr>
               }
            </tbody>
         </table>
      </section>
   </div>
</app-fit-to-parent>

