   <div class="overflow-y-scroll" style="height: 80vh;">
      <div class="list-group-numbered department-side list-group">
         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>
         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>         <div class="list-group-item">Department List</div>
         <div class="list-group-item">Positions</div>
      </div>
   </div>