<ul class="nav nav-tabs justify-content-end me-4">
   <li class="nav-item">
      <button id="employee-list-tab" data-bs-toggle="tab" data-bs-target="#employee-list-content" class="nav-link">Employee List</button>
   </li>
   <li class="nav-item">
      <button id="employee-add-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#employee-add-content">Add Employee</button>
   </li>
   <li class="nav-item">
      <button id="employee-dash-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#employee-dashboard">Employee Dashboard</button>
   </li>
</ul>
