<div class="sidebar-container h-100 ms-3 me-2">
   <div class="d-flex sidebar flex-column row-gap-5">
      <div class="side-bar-div">
         <a href="" class="side-bar-link">Home</a>
      </div>
      <div class="side-bar-div">
         <a href="#" class="side-bar-link">Dashboard</a>
      </div>
      <div class="side-bar-div" [routerLink]="['/department']" routerLinkActive="side-bar-div-active">
         <a class="side-bar-link">Department</a>
      </div>
      <div class="side-bar-div" [routerLink]="['/employee']" routerLinkActive="side-bar-div-active" >
         <a class="side-bar-link">Employee</a>
      </div>

    </div>
</div>