<div class="mt-3 w-75 m-auto">
   <h3 class="mb-4 fw-bold">Employee Add Form</h3>

   <form [formGroup]="employeeForm">
      <div class="row">
         <div class="col">
            <app-form-control-group label="Name">
               <app-input-group [valid]="employeeForm.get('name')!.valid">
                  <input formControlName="name" type="text" class="form-control" placeholder="Enter Employee Name.">
               </app-input-group>
            </app-form-control-group>
         </div>
         <div class="col">
            <app-form-control-group label="Phone">
              <app-input-group [valid]="employeeForm.get('phone')!.valid">
                <input formControlName="phone" type="tel" class="form-control" placeholder="Enter Employee Phone Number.">
              </app-input-group>
            </app-form-control-group>
         </div>
      </div>
      <div class="row">
         <div class="col">
            <app-form-control-group label="Email">
            
            </app-form-control-group>
         </div>
      </div>
   </form>
   
</div>